
@{
    ViewData["Title"] = "Stanowisko 4";
}
<link rel="stylesheet" href="~/css/position.css" />
<script type="text/javascript" src="~/js/galery.js" defer></script>

<header class="hederSections">
    <h2>@ViewData["Title"]</h2>
</header>
<hr />
<section class="containerPosition">
    <article class="galery">
        <div class="bigImage"><img src="~/images/Section/Automation/sa41.jpg" alt="Duze zdjecie"></div>

        <div class="miniImg">
            <div><a href="~/images/Section/Automation/sa41.jpg" title="Obraz 1"><img src="~/images/Section/Automation/sa41.jpg"></a></div>
            <div><a href="~/images/Section/Automation/sa42.jpg" title="Obraz 2"><img src="~/images/Section/Automation/sa42.jpg"></a></div>
            <div><a href="~/images/Section/Automation/sa43.jpg" title="Obraz 3"><img src="~/images/Section/Automation/sa43.jpg"></a></div>
            <div><a href="~/images/Section/Automation/sa44.jpg" title="Obraz 4"><img src="~/images/Section/Automation/sa44.jpg"></a></div>
            <div><a href="~/images/Section/Automation/sa45.jpg" title="Obraz 5"><img src="~/images/Section/Automation/sa45.jpg"></a></div>
        </div>
    </article>

    <article class="description">
        *** Krótki opis stanowiska ...... ***
    </article>

    <article class="download">
        <heder class="DownloadHeder">
            <h3>Pliki do pobrania</h3>
        </heder>
        <hr />
        <ul>
            <li><a href="~/doc/Automation/sa4.pdf"><img src="~/images/Section/iconPDF.png" />Dokumentackja stanowiska</a></li>
            <li><a href="~/doc/Automation/norma_IEC61131.pdf"><img src="~/images/Section/iconPDF.png" />Norma IEC61131</a></li>
            <li><a href="~/doc/Automation/instrukcja-TwinCAT.pdf"><img src="~/images/Section/iconPDF.png" />Instrukcja TwinCAT</a></li>
            <li><a href="~/doc/Automation/instrukcja-uruchomienia-stanowiska.pdf"><img src="~/images/Section/iconPDF.png" />Instrukcja uruchomienia stanowiska</a></li>
        </ul>
    </article>

</section>
