
@{
    ViewData["Title"] = "Lego Mindstorms NXT 2.0 - prototypowe konstrukcje mechatroniczne";
}
<link rel="stylesheet" href="~/css/position.css" />
<link rel="stylesheet" href="~/css/header.css" />
<script type="text/javascript" src="~/js/galery.js" defer></script>

<header class="hederSections">
    <h2>@ViewData["Title"]</h2>
</header>
<hr />
<section class="containerPosition">
    <article class="galery">
        <div class="bigImage"><img src="~/images/Section/Mechatronic/sm41.jpg" alt="Duze zdjecie"></div>

        <div class="miniImg">
            <div><a href="~/images/Section/Mechatronic/sm41.jpg" title="Obraz 1"><img src="~/images/Section/Mechatronic/sm41.jpg"></a></div>
            <div><a href="~/images/Section/Mechatronic/sm42.jpg" title="Obraz 2"><img src="~/images/Section/Mechatronic/sm42.jpg"></a></div>
            <div><a href="~/images/Section/Mechatronic/sm43.jpg" title="Obraz 3"><img src="~/images/Section/Mechatronic/sm43.jpg"></a></div>
            <div><a href="~/images/Section/Mechatronic/sm44.jpg" title="Obraz 4"><img src="~/images/Section/Mechatronic/sm44.jpg"></a></div>
        </div>
    </article>

    <article class="description">
        *** Krótki opis stanowiska ...... ***
    </article>

    <article class="download">
        <heder class="DownloadHeder">
            <h3>Pliki do pobrania</h3>
        </heder>
        <hr />
    </article>

</section>
