
@{
    ViewData["Title"] = "Przemysłowy serwonapęd dwuosiowy";
}
<link rel="stylesheet" href="~/css/position.css" />
<script type="text/javascript" src="~/js/galery.js" defer></script>

<header class="hederSections">
    <h2>@ViewData["Title"]</h2>
</header>
<hr />
<section class="containerPosition">
    <article class="galery">
        <div class="bigImage"><img src="~/images/Section/Mechatronic/sm31.jpg" alt="Duze zdjecie"></div>

        <div class="miniImg">
            <div><a href="~/images/Section/Mechatronic/sm31.jpg" title="Obraz 1"><img src="~/images/Section/Mechatronic/sm31.jpg"></a></div>
            <div><a href="~/images/Section/Mechatronic/sm32.jpg" title="Obraz 2"><img src="~/images/Section/Mechatronic/sm32.jpg"></a></div>
        </div>
    </article>

    <article class="description">
        *** Krótki opis stanowiska ...... ***
    </article>

    <article class="download">
        <heder class="DownloadHeder">
            <h3>Pliki do pobrania</h3>
        </heder>
        <hr />
        <ul>
            <li><a href="~/doc/Mechatronic/sm3.pdf"><img src="~/images/Section/iconPDF.png" />Dokumentackja stanowiska</a></li>
        </ul>
    </article>

</section>
