@{
    ViewData["Title"] = "Kontakt";
}
<header class="hederSections">
    <h2>@ViewData["Title"]</h2>
 </header>
<hr />
<address>
    Politechnika Rzeszowska<br />
    Wydział Elektrotechniki i Informatyki<br />
    Katedra Informatyki i Automatyki<br />
    35-959 Rzeszów, ul. Wincentego Pola 2 Budynek D<br />
</address>

<address>
    <strong>Telefon:</strong> +48 17 111 11 11<br />
    <strong>E-mail:</strong> <a href="#">email@email</a>
</address>
