@media (max-width: 1200px) {
    .carousel-caption > .footerBaner {
        font-size: 20px;
    }

    .hederBaner {
        font-size: 45px;
    }
}

@media (min-width: 1200px) {
    .carousel-caption > .footerBaner {
        font-size: 30px;
    }

    .hederBaner {
        font-size: 55px;
    }
}

#myCarousel {
    margin-left: 10px;
    margin-right: 10px;
}

.hederBaner {
    text-shadow: black 0.1em 0.1em 0.2em;
}

.hederBaner.carousel-caption{
    top:20px;
}

.description {
    text-align: justify;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.description > strong {
    text-align: right;
    display: block;
    padding-right: 20%;
    font-size: 20px;
}