
@{
    ViewData["Title"] = "Diagnostyka wrzeciona CNC";
}
<link rel="stylesheet" href="~/css/position.css" />
<script type="text/javascript" src="~/js/galery.js" defer></script>

<header class="hederSections">
    <h2>@ViewData["Title"]</h2>
</header>
<hr />
<section class="containerPosition">
    <article class="galery">
        <div class="bigImage"><img src="~/images/Section/Industry/si41.jpg" alt="Duze zdjecie"></div>

        <div class="miniImg">
            <div><a href="~/images/Section/Industry/si41.jpg" title="Obraz 1"><img src="~/images/Section/Industry/si41.jpg"></a></div>
            <div><a href="~/images/Section/Industry/si42.jpg" title="Obraz 2"><img src="~/images/Section/Industry/si42.jpg"></a></div>
            <div><a href="~/images/Section/Industry/si43.jpg" title="Obraz 3"><img src="~/images/Section/Industry/si43.jpg"></a></div>
            <div><a href="~/images/Section/Industry/si44.jpg" title="Obraz 4"><img src="~/images/Section/Industry/si44.jpg"></a></div>
            <div><a href="~/images/Section/Industry/si45.jpg" title="Obraz 5"><img src="~/images/Section/Industry/si45.jpg"></a></div>
            <div><a href="~/images/Section/Industry/si46.jpg" title="Obraz 6"><img src="~/images/Section/Industry/si46.jpg"></a></div>
        </div>
    </article>

    <article class="description">
        *** Krótki opis stanowiska ...... ***
    </article>

    <article class="download">
        <heder class="DownloadHeder">
            <h3>Pliki do pobrania</h3>
        </heder>
        <hr />
        <ul>
            <li><a href="~/doc/Industry/si4.pdf"><img src="~/images/Section/iconPDF.png" />Instrukcja</a></li>
        </ul>
    </article>

</section>
