
@{
    ViewData["Title"] = @Localizer["title"];
}
<link rel="stylesheet" href="~/css/position.css" />
<script type="text/javascript" src="~/js/galery.js" defer></script>

<header class="hederSections">
    <h2>@ViewData["Title"]</h2>
</header>
<hr />
<section class="containerPosition">
    <article class="galery">
        <div class="bigImage"><img src="~/images/Section/Industry/si51.jpg" alt="Duze zdjecie"></div>

        <div class="miniImg">
            <div><a href="~/images/Section/Industry/si51.jpg" title="Obraz 1"><img src="~/images/Section/Industry/si51.jpg"></a></div>
            <div><a href="~/images/Section/Industry/si52.jpg" title="Obraz 2"><img src="~/images/Section/Industry/si52.jpg"></a></div>
            <div><a href="~/images/Section/Industry/si53.jpg" title="Obraz 3"><img src="~/images/Section/Industry/si53.jpg"></a></div>
            <div><a href="~/images/Section/Industry/si54.jpg" title="Obraz 4"><img src="~/images/Section/Industry/si54.jpg"></a></div>
        </div>
    </article>

    <article class="description">
        @Localizer["description"]
    </article>

    <article class="download">
        <heder class="DownloadHeder">
            <h3>@Localizer["download"]</h3>
        </heder>
        <hr />
    </article>

</section>
