@{
    ViewData["Title"] = "Strona główna";
}

<link rel="stylesheet" href="~/css/home.css" />

<header class="hederSections"><h2>Laboratorium D 109</h2></header>

<hr />

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Home/baner1.jpg" alt="Labolatorium D 109" class="img-responsive" />
            <h1 class="hederBaner carousel-caption">Labolatorium D 109</h1>
            <div class="carousel-caption" role="option">
                <p class="footerBaner">
                    Tu szkolimy przyszłych inżynierów!
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Home/baner2.jpg" alt="Roboty" class="img-responsive" />
            <h1 class="hederBaner carousel-caption">Roboty</h1>
            <div class="carousel-caption" role="option">
                <p class="footerBaner">
                    To standard w dzisiejszym przemyśle, poznaj je razem znami i naucz się projektować własne.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Home/baner3.jpg" alt="Industrie 4.0" class="img-responsive" />
            <h1 class="hederBaner carousel-caption">Industrie 4.0</h1>
            <div class="carousel-caption" role="option">
                <p class="footerBaner">
                    Inteligentne linie produkcyjne są domeną przemysłu 4.0.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Home/baner4.jpg" alt="Sterowniki" class="img-responsive" />
            <h1 class="hederBaner carousel-caption">Sterowniki</h1>
            <div class="carousel-caption" role="option">
                <p class="footerBaner">
                    Nowoczesne sterowniki PLC dają nam praktycznie nie ograniczone możliwości. 
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<hr />
<section class="description">
    <p>
        Laboratorium D 109 jest salą, w której odbywa się wiele zajęć o tematyce automatyki przemysłowej.  Pracownia jest podzielona na kilka stref:
    </p>
    <ul>
        <li>Główna sala w której znajdują się stanowiska z zajęć podstaw automatyki oraz mechatroniki i szybkiego prototypowania.</li>
        <li>Inteligentny pokój w którym studenci mogą wdrążać swoje pomysły.</li>
        <li>
            Część przeznaczona na zajęcia z pracowni problemowej w ramach której studenci mogą zetknąć się z prawdziwymi maszynami spotykanymi 
            w nowoczesnym przemyśle i realizować na nich swoje projekty.
        </li>
    </ul>
    <p>
        Wyposażenie Sali D 109 jest ogromne od nowoczesnych sterowników PLC i robotów po drobne czujniki i elementy dzięki którym mamy
        ogromne możliwości wykazania się podczas zajęć. Dodatkowo wyposażenie to ciągle się rozrasta i powstają nowe stanowiska dzięki wspólnej pracy 
        profesorów oraz studentów realizujących swoje projekty i prace.<br />
        Chcesz dowiedzieć się więcej?
    </p>
    <strong>Zapraszamy!</strong>

</section>
