@{
    ViewData["Title"] = @Localizer["title"];
}

<header class="hederSections">
    <h2>@ViewData["Title"]</h2>
</header>
<hr />
<div style="text-align:center; color:orangered; max-width:100%">
    <img src="~/images/@Localizer["siteUnderConstruction"]" style="width:80%" />
</div>

