
@{
    ViewData["Title"] = "Współpraca";
}

<header class="hederSections">
    <h2>@ViewData["Title"]</h2>
</header>
<hr />
<div style="text-align:center; color:orangered; max-width:100%">
    <h1>Strona w budowie!</h1>
</div>

