@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    D109.Controllers.LanguageController.changeLanguage();
    ViewData["Title"] = @Localizer["title"];
}

<header class="hederSections">
    <h2>@ViewData["Title"]</h2>
</header>
<hr />
<div style="text-align:center; color:orangered; max-width:100%">
    <img src="~/images/stronawbudowie.png" style="width:80%" />
</div>

