
@{
    ViewData["Title"] = "Podstawy automatyki";
}
<link rel="stylesheet" href="~/css/section.css" />

<header class="hederSections"><h2>Podstawy automatyki</h2></header>
<hr />
<section class="positionList">

    <a asp-area="" asp-controller="Section" asp-action="Automation1" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Automation/sa11.jpg" />
        </article>
        <footer class="positionHeder">
            Stanowisko 1
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Automation2" class="positionBlock">
            <article class="positionImg">
                <img src="~/images/Section/Automation/sa21.jpg" />
            </article>
            <footer class="positionHeder">
                Stanowisko 2
            </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Automation3" class="positionBlock">
            <article class="positionImg">
                <img src="~/images/Section/Automation/sa31.jpg" />
            </article>
            <footer class="positionHeder">
                Stanowisko 3
            </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Automation4" class="positionBlock">
            <article class="positionImg">
                <img src="~/images/Section/Automation/sa41.jpg" />
            </article>
            <footer class="positionHeder">
                Stanowisko 4
            </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Automation5" class="positionBlock">
            <article class="positionImg">
                <img src="~/images/Section/Automation/sa51.jpg" />
            </article>
            <footer class="positionHeder">
                Stanowisko 5
            </footer>
    </a>

</section>

