
@{
    ViewData["Title"] = "Mechatronika i szybkie prototypowanie";
}

<link rel="stylesheet" href="~/css/section.css" />

<header class="hederSections"><h2>@ViewData["Title"]</h2></header>
<hr />
<section class="positionList">

    <a asp-area="" asp-controller="Section" asp-action="Mechatronic1" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Mechatronic/sm11.jpg" />
        </article>
        <footer class="positionHeder">
            Model dźwigu wieżoweg
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Mechatronic2" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Mechatronic/sm21.jpg" />
        </article>
        <footer class="positionHeder">
            Model dwuwirnikowego obiektu aerodynamicznego
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Mechatronic3" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Mechatronic/sm31.jpg" />
        </article>
        <footer class="positionHeder">
            Przemysłowy serwonapęd dwuosiowy
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Mechatronic4" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Mechatronic/sm41.jpg" />
        </article>
        <footer class="positionHeder">
            Lego Mindstorms NXT 2.0 - prototypowe konstrukcje mechatroniczne
        </footer>
    </a>

    <a asp-area="" asp-controller="Section" asp-action="Mechatronic5" class="positionBlock">
        <article class="positionImg">
            <img src="~/images/Section/Mechatronic/sm51.jpg" />
        </article>
        <footer class="positionHeder">
            Zaawansowane algorytmy regulacji serwomechanizmu - odwrócone wahadło
        </footer>
    </a>

</section>